<% content_for :header do %>
    <%= login_and_signup_buttons %>
<% end %>

<h1>All Goal Tracker users</h1>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Start date</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td>
                    <a href="<%= user_url(user) %>"><%= user.username %></a>
                </td>
                <td><%= user.created_at.to_date %></td>
            </tr>
        <% end %>
    </tbody>
</table>
