<% action_url = ( action == :sign_up ? users_url : session_url ) %>
<% submit_value = ( action == :sign_up ? "Sign up" : "Log in" ) %>

<form class="login-form" action="<%= action_url %>" method="post">
    <%= insert_form_authenticity_token %>

    <div class="form-input">
        <label for="username">Username</label>
        <input type="text" name="user[username]" id="username">
    </div>

    <div class="form-input">
        <label for="password">Password</label>
        <input type="password" name="user[password]" id="password">
    </div>

    <input type="submit" value="<%= submit_value %>">
</form>
