<h1>Add a comment</h1>

<%= render 'shared/error_messages' %>

<form action="<%= user_comments_url %>" method="post">
    <%= insert_form_authenticity_token %>

    <input
        type="hidden"
        name="user_comment[subject_id]"
        value="<%= params[:user_id] %>">

    <label for="comment_text">Enter your comment:</label>
    <textarea name="user_comment[comment_text]" id="comment_text" cols="30" rows="10"></textarea>

    <br>

    <input type="submit" value="Submit comment">
</form>
