a {
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.comments {
  max-width: 700px;
  margin-top: 20px;
}

.comments blockquote, .comments form {
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #dfe5fe;
}

.comments form {
  margin: 20px 0 0;
  border: 2px solid #5a77fa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comments textarea {
  width: 99%;
  min-width: 300px;
  height: 50px;
  margin: 15px 0;
}

.comments input[type="submit"] {
  background-color: #5a77fa;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.current-user-actions {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px;
}

.current-user-actions form {
  margin: 0 10px;
}

.error-messages {
  color:red;
  margin: 20px 20px 10px;
}

.error-messages li {
  margin-left: 30px;
  list-style: disc;
}

.error-messages p {
  margin-left: 10px;
}

.form-input {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.form-input label, .form-input p {
  margin-right: 10px;
}

.form-input textarea {
  width: 300px;
  height: 50px;
}

.goal-details .owner-and-link, .goal-details .status-and-form {
  display: flex;
  justify-content: space-between;
}

.goal-details .owner-and-link a {
  margin-left: 20px;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  background-color: #5ac7fa;
  color: white;
}

.goal-details .status-and-form form {
  margin-left: 20px;
}

.goal-form .form-input input[type="text"] {
  width: 357px;
}

.goal-form input[type="submit"] {
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

header {
  height: 80px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5ac7fa;
}

.header-session-info {
  display: flex;
  align-items: center;
}

.header-session-info p {
  font-size: 20px;
  color: white;
}

.header-session-info form {
  margin-left: 20px;
  color: #5ac7fa;
}

input[type="submit"] {
  padding: 5px 10px;
  border-radius: 8px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  color: inherit;
}

input[value="Add a new goal"],
  input[value="Mark goal as completed"],
  input[value="Create goal"] {
  background-color: #5ac7fa;
  color: white;
}

input[value="Edit goal"], input[value="Update goal"] {
  background-color: #fa8d5a;
  color: white;
}

input[value="Delete goal"] {
  background-color: #fa5ac7;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form .form-input:first-of-type {
  margin-top: 30px;
}

.login-form .form-input:last-of-type {
  margin: 10px 0;
}

.login-form input[type="submit"] {
  margin-top: 20px;
  background-color: #fa8d5a;
  color: white;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  color: white;
}

table {
  max-width: 700px;
}

table a {
  font-weight: 700;
  color: black;
}

th {
  padding: 15px;
  font-weight: 700;
  color: #5ac7fa;
}

tr {
  border-width: 10px 0;
  border-style: solid;
  border-color: white;
}

td {
  vertical-align: middle;
  padding: 15px;
  font-weight: 400;
  background-color: #cceefd;
}
